POSTGRES_USER=reservas
POSTGRES_PASSWORD=reservas123

JWT_SECRET=coloque_aqui_um_secret_de_pelo_menos_64_caracteres
JWT_EXPIRATION=86400000

GITHUB_CLIENT_ID=seu_client_id
GITHUB_CLIENT_SECRET=seu_client_secret